
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* General Styles */

* {
    
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

body {
    background-color: #BE93FD;
    background-image: url(/assets/images/bg-image-quiz-1.jpg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #733dca;
    margin-bottom: 10px;
    padding: 10px 0;
}

main {
    padding-bottom: 50px;
}

footer {
    margin-top: auto;
    background-color: #845EC2;
    color: white;
    text-align: center;
}

footer ul {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	padding: 2%;
}

footer ul li {
	list-style-type: none;
	padding: 0 15px;
}

footer ul a {
	color: #FFECE3;
	font-size: 1.5em;
}

/* Home Page */

/* Box */

.box h1 {
    font-size: 150%;
    margin: 20px 0;
    text-align: center;
}

#start-game-btns {
    display: flex;
    justify-content: space-between;
}

#start-game-btns a {
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 2rem;
    color: #222;
    cursor: pointer;
    font-size: 150%;
    font-weight: 500;
    padding: 10px 20px;
    margin: 10px 0;
}

#start-game-btns a:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

#start-btn, .rules-btn {
    text-decoration: none;
}

/* Rules Page */

.rules ul {
    margin-bottom: 50px;
}

.rules ul li {
    margin: 20px 0;
}

#rules-start {
    padding: 10px 30px;
}

/* Game Page */

.rules-heading {
    color: #fff;
    text-align: center;
    font-size: 200%;
    margin-top: 50px;
}

.rules-link {
    color: #fff;
    font-size: larger;
    margin: 0;
    padding: 0;
}

/* Score Tallys */

.score-area {
    display: flex;
    justify-content: space-between;
}

.score-area p {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    border: solid 2px #733dca;
    border-radius: 2rem;
    padding: 20px;
}

.score-area p,
span {
    color: #fff;
    font-size: larger;
    margin: 0 20px;
}

/* Quiz box area */

.game-box {
    display: flex;
    justify-content: center;
}

.quiz-box,
.box {
    background-color: #fff;
    border: 10px solid #BE93FD;
    border-radius: 2rem;
    margin-top: 30px;
    padding: 40px;
    width: 200px;
}

.quiz-box h1 {
    border-bottom: 1px solid #333;
    font-size: 140%;
    font-weight: 600;
    padding-bottom: 20px;
}

.quiz {
    padding: 10px 0;
}

.quiz h2 {
    font-size: 130%;
}

/* Button styles */

.btn {
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 2rem;
    color: #222;
    cursor: pointer;
    font-size: 120%;
    font-weight: 500;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    transition: all 0.3s;
    width: 100%;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background-color: #733dca;
    border: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 60px;
    margin-top: 20px;
    padding: 10px 20px;
}

.correct {
    background-color: #8afbbb;
}

.incorrect {
    background-color: #ff8f8f;
}
