@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 105%;
}

body {
    background-color: #037762;
}

.quiz-area {
    background-color: #fff;
    border: 10px solid #014f41;
    border-radius: 2rem;
    margin: 100px auto 0;
    max-width: 600px;
    padding: 40px;
    width: 90%;
}

.quiz-area h1 {
    border-bottom: 1px solid #333;
    font-size: 150%;
    font-weight: 600;
    padding-bottom: 30px;
}

.quiz {
    padding: 10px 0;
}

.quiz h2 {
    font-size: 120%;
}

.btn {
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 2rem;
    color: #222;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    transition: all 0.3s;
    width: 100%;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

.start {
    text-decoration: none;
}

.rules-heading {
    color: #fff;
    text-align: center;
    font-size: 200%;
    margin-top: 50px;
}

.rules-link {
    color: #fff;
    margin: 0;
    padding: 0;
}

#next-btn {
    background-color: #037762;
    border: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    display: none;
    font-weight: 600;
    margin: 20px auto 0;
    padding: 10px 20px;
}

.correct {
    background-color: #64f6a3;
}

.incorrect {
    background-color: #ff7777;
}

.score-area {
    display: flex;
    justify-content: space-between;
}

.score-area p, span{
    color: #fff;
}