@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #004d3f;
}

.quiz-area {
    background-color: #fff;
    border-radius: 2rem;
    margin: 100px auto 0;
    max-width: 600px;
    padding: 40px;
    width: 90%;
}

.quiz-area h1 {
    border-bottom: 1px solid #333;
    font-size: 200%;
    font-weight: 600;
    padding-bottom: 30px;
}

.quiz {
    padding: 10px 0;
}

.quiz h2 {
    font-size: 150%;
}

.btn {
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 2rem;
    color: #222;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    transition: all 0.3s;
    width: 100%;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background-color: #004d3f;
    border: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    display: none;
    font-weight: 600;
    margin: 20px auto 0;
    padding: 10px 20px;
}

.correct {
    background-color: #9aeabc;
}

.incorrect {
    background-color: #ff9393;
}